/* GLOBAL SETTINGS */
* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #333;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    overflow-x: hidden;
}

.button {
    display: block;
    line-height: 3em;
    padding: 0 30px;
    font-family: 'lemon/milk', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    border-style: none;
    border-radius: 1.5em;
    box-shadow: 0 0 30px 0 rgba(80, 80, 80, .2);
}

.rotated {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
}

.heading {
    margin: 0;
    padding: .5em 0;
    font-family: 'peace sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #494949;
}

.description {
    line-height: 1.5em;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    color: #6a6a6a;
}

*::selection {
    -webkit-text-fill-color: #fff;
    color: #fff;
}

::selection {
    background-color: #f05;
}

/* NAVIGATION */
.nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    font-size: 25px;
    font-family: lato, Helvetica, Arial, sans-serif;
    color: #fff;
    transition: .3s ease-in;
}

.nav.active {
    background-color: rgba(0, 0, 0, .93);
}

.nav.darkbg:not(.active) {
    background-color: rgba(0, 0, 0, .5);
}

.nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.nav__company-name {
    margin: 0;
    line-height: 2em;
    font-size: 1em;
}

.nav__hamburger {
    position: relative;
    width: 45px;
    height: 28px;
}

.nav__hamburger-line {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: top .1s .2s ease-out, transform .3s ease;
}

.nav__hamburger.active .nav__hamburger-line:first-of-type {
    top: calc(50% - 2px);
    transition: top .1s ease-out, transform .3s .2s ease;
}

.nav__hamburger.active.elem-rotate .nav__hamburger-line:first-of-type {
    transform: rotate(135deg)
}

.nav__hamburger-line:nth-of-type(2) {
    top: calc(50% - 2px);
}

.nav__hamburger.active .nav__hamburger-line:nth-of-type(2) {
    opacity: 0;
}

.nav__hamburger-line:nth-of-type(3) {
    top: calc(100% - 4px);
}

.nav__hamburger.active .nav__hamburger-line:nth-of-type(3) {
    top: calc(50% - 2px);
}

.nav__hamburger.active.elem-rotate .nav__hamburger-line:nth-of-type(3) {
    transform: rotate(225deg);
    transition: top .1s ease-out, transform .3s .2s ease;
}

.nav__list {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    transition: .4s ease-out;
}

.nav__list.active {
    height: 360px;
}

.nav__list-item {
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
}

@media (orientation: landscape) {
    .nav__list {
        flex-flow: row wrap;
        align-content: flex-start;
    }

    .nav__list.active {
        height: 260px;
    }

    .nav__list-item {
        flex-basis: 50%;
        line-height: 2.5em;
    }
}

@media (min-width:768px) and (min-height:500px) {

    /* Removing hamburger icon */
    .nav {
        font-size: 16px;
    }

    .nav__company-name {
        font-size: 3em;
    }

    .nav__hamburger {
        display: none;
    }

    .nav__list {
        flex-basis: auto;
        height: 6em;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-evenly;
    }

    .nav__list-item {
        flex-basis: 25%;
    }
}

@media (min-width:1024px) {
    .nav__wrapper {
        justify-content: flex-start;
        padding: 0 30px;
    }

    .nav__company-name {
        flex-grow: 1;
        text-align: center;
    }

    .nav__list {
        flex-grow: 3;
        justify-content: space-around;
    }

    .nav__list-item {
        flex-basis: auto;
    }
}

@media (min-width:1280px) {
    .nav__wrapper {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0;
    }

    .nav__list-item {
        cursor: pointer;
    }
}

/* HEADER */
.header {
    position: relative;
    min-height: 100vh;
    font-family: 'lemon/milk', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.header::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 50% 50% / cover;
    z-index: -1;
}

/* slogan elements must not have position: absolute - conflict with -webkit-background-clip: text */
.header__slogan-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: 50% 50% / cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__slogan {
    margin-left: 10%;
    margin-top: 20%;
    width: 80%;
    font-size: 55px;
    line-height: .85em;
    text-align: center;
    color: #ddd;
    z-index: 1;
}

.header__slogan--smaller {
    min-width: 90%;
    font-size: .67em;
    display: block;
    margin-top: 0;
    line-height: .85em;
}

.header__slogan--shadow {
    position: absolute;
    top: 0;
    -webkit-text-fill-color: initial;
    color: #aaa;
    z-index: -1;
    text-shadow: 0 0 157px #400000, 0 0px 100px #000;
}

.header__main-image {
    position: absolute;
    left: 0;
    top: 32%;
    max-width: 100%;
    z-index: 1;
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.05), transparent);
}

.header__button {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #111;
    z-index: 2;
}

@media (orientation:portrait) and (max-width:767px) {
    .header::before {
        background-image: url('../img/city-red__mobile.jpg');
    }

    .header__slogan-wrapper {
        background-image: url('../img/city__mobile.jpg');
    }
}

@media (orientation:landscape) and (max-height:499px) {
    .header::before {
        background-image: url('../img/city-red__mobile-land.jpg');
    }

    .header__slogan-wrapper {
        background-image: url('../img/city__mobile-land.jpg');
    }
}

@media (orientation: landscape) {
    .header__slogan {
        margin-left: 3%;
        margin-top: 10%;
        max-width: 50vw;
        font-size: 60px;
        letter-spacing: 2px;
    }

    .header__main-image {
        left: 43%;
        top: 7%;
        max-height: 110vh;
    }

    .header__button {
        left: 15%;
        bottom: 15%;
        transform: none;
    }
}

@media (min-width:360px) and (orientation:portrait) {
    .header__slogan {
        font-size: 65px;
    }
}

@media (min-height:360px) and (orientation:landscape) {
    .header__slogan {
        font-size: 70px;
    }
}

@media (min-width:400px) and (orientation:portrait),
(min-width:700px) and (max-height:500px) {
    .header__slogan {
        font-size: 80px;
    }
}

/* iPhone X and similar aspect ratio (portrait)*/
@media (max-width:415px) and (min-height: 790px) {
    .header__slogan {
        margin-left: 5%;
        margin-top: 25%;
        width: 90%;
        font-size: 80px;
    }

    .header__main-image {
        top: 37%;
    }
}

/* iPhone X and similar aspect ratio (landscape)*/
@media (min-width:790px) and (max-height: 415px) {
    .header__slogan {
        font-size: 80px;
    }

    .header__main-image {
        left: 47%;
    }

    .header__button {
        left: 17%;
    }
}

@media (min-width:768px) and (min-height:500px) and (max-width:1023px) {
    .header::before {
        background-image: url('../img/city-red__tab.jpg');
    }

    .header__slogan-wrapper {
        background-image: url('../img/city__tab.jpg');
    }
}

@media (min-width:768px) and (min-height:500px) {
    .header__slogan {
        margin-top: 15%;
        font-size: 100px;
        letter-spacing: 3px;
    }

    .header__main-image {
        top: 28%;
    }
}


@media (min-width:1024px) and (orientation:landscape) {
    .header__slogan {
        font-size: 120px;
    }

    .header__main-image {
        left: 38%;
        top: 10%;
    }

    .header__button {
        left: 20%;
    }
}

@media (min-width:1024px) and (orientation:portrait) {
    .header__slogan {
        margin-top: 12%;
        font-size: 144px;
    }

    .header__main-image {
        top: 28%;
        width: 100%;
    }
}

@media (min-width:1024px) {
    .header::before {
        background-image: url('../img/city-red__desktop.jpg');
    }

    .header__slogan-wrapper {
        background-image: url('../img/city__desktop.jpg');
    }

}

@media (min-width:1280px) {
    .header__slogan {
        font-size: 132px;
    }
}

@media (min-width:1366px) {
    .header__slogan {
        margin-top: 10%;
    }

    .header__main-image {
        left: 50%;
        top: 8%;
    }

    .header__button {
        left: 22%;
    }
}

@media (min-width:1440px) {
    .header__slogan {
        max-width: 55vw;
        margin-left: 5%;
        margin-top: 12%;
        font-size: 160px;
        letter-spacing: 7px;
    }

    .header__button {
        left: 28%;
    }
}

@media (min-width:1600px) {
    .header__main-image {
        left: 48%;
        top: -1%;
        min-height: 120vh;
    }
}

@media (min-width:1920px) {
    .header__slogan {
        font-size: 185px;
    }
}

/* SECTION 1 'ABOUT US' */
.about-us {
    position: relative;
    padding: 0 5vw;
    overflow: hidden;
}

.about-us__description {
    padding: 0 10px;
    text-align: center;
}

.about-us__macbook {
    display: block;
    max-width: 90%;
}

.about-us__button {
    margin: 0 auto 30px;
    background-color: #bb2d39;
    color: #fff;
}

.about-us__triangle {
    left: 100%;
    top: 0;
    width: 56.4vw;
    height: 54.6vw;
    background-color: #171717;
    z-index: -1;
}

@media (orientation:landscape),
(min-width:768px) {
    .about-us__wrapper {
        max-width: 50vw;
        font-size: 13px;
    }

    .about-us__heading {
        text-align: center;
    }

    .about-us__macbook {
        position: absolute;
        left: 50%;
        top: 20%;
        width: 45vw;
    }

    .about-us__button {
        font-size: 13px;
    }

    .about-us__triangle {
        left: 93%;
        width: 75vw;
        height: 75vw;
    }
}

@media (min-width:360px) and (orientation:portrait) {
    .about-us__heading {
        margin-left: 5vw;
    }
}

@media (min-width: 620px) and (orientation:landscape),
(min-width: 1024px) {
    .about-us__wrapper {
        max-width: 43vw;
    }
}

/* iPhone X aspect ratio (landscape)*/
@media (min-width:790px) and (max-height: 415px) {
    .about-us__macbook {
        top: 10%;
    }
}

@media (min-width:768px) and (min-height:768px) {
    .about-us__wrapper {
        font-size: 17px;
    }

    .about-us__heading {
        margin-left: 0;
    }

    .about-us__description {
        padding-bottom: 30px;
    }

    .about-us__button {
        font-size: 16px;
    }
}

@media (min-width:1024px) {
    .about-us__button {
        margin-bottom: 5vw;
    }
}

@media (min-width:1280px) {
    .about-us__wrapper {
        max-width: 30vw;
        margin-left: 5vw;
    }

    .about-us__heading {
        text-align: left;
        margin-top: 5vw;
    }

    .about-us__description {
        text-align: left;
    }

    .about-us__button {
        margin-left: 20px;
    }

    .about-us__triangle {
        left: 72%;
        width: 55vw;
        height: 55vw;
    }
}

@media (min-width: 1366px) and (max-height: 768px) {
    .about-us__description {
        margin: 3vw 0;
        font-size: 16px;
    }
}

@media (min-width:1920px) {
    .about-us__macbook {
        width: 35vw;
    }
}

/* SECTION 2 'SERVICES' */
.services {
    position: relative;
    background-color: #f5f5f5;
}

.services__heading {
    text-align: center;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0 2em 0;
    list-style-type: none;
}

.services__list-item {
    flex-basis: 83%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 13px;
    padding-bottom: 2vh;
}

.services__icon-wrapper {
    width: 4em;
    height: 4em;
    text-align: center;
    border-radius: 50%;
    background-color: #bb2d39;
    box-shadow: 0 0 30px 0 rgba(80, 80, 80, .4);
}

.services__icon {
    max-width: 80%;
    vertical-align: -2.3em;
}

.services__subheading {
    flex-basis: calc(100% - 5em);
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #6f6f6e;
}

.services__description {
    flex-basis: 100%;
    text-align: center;
}

@media (orientation:landscape) {
    .services__list-item {
        flex-basis: 45%;
    }

    .services__list {
        padding-bottom: 0;
    }

    .services__list-item {
        padding-bottom: 5vh;
    }
}

@media (min-width:640px) {
    .services__list-item {
        flex-basis: 40%;
    }

    .services__triangle {
        left: 0;
        top: 34%;
        width: 10vh;
        height: 10vh;
        background-color: #bb2d39;
    }
}

@media (min-width:768px) and (orientation:portrait) {
    .services__triangle {
        top: 0;
    }
}

@media (min-width:1024px) {
    .services__heading {
        padding: 1em 0;
    }

    .services__list {
        justify-content: center;
    }

    .services__list-item {
        flex-basis: 28%;
        font-size: 14px;
    }

    .services__description {
        padding: 0 15px;
    }
}

@media (min-width:1280px) {
    .services__list-item {
        font-size: 16px;
    }

    .services__icon {
        vertical-align: -2.1em;
    }

    .services__triangle {
        top: 50%;
    }
}

@media (min-width:1366px) {
    .services__triangle {
        width: 12vw;
        height: 12vw;
    }

    .services__description {
        padding: 0 0 0 6.75em;
        text-align: left;
    }
}

@media (min-width:1346px)and (max-width:1386px) and (min-height:900px) {
    .header__slogan {
        margin-top: 22%;
    }

    .header__main-image {
        left: 42%;
    }
}

@media (min-width:1600px) {
    .services__list-item {
        flex-basis: 33%;
    }
}

/* SECTION 3 'PROCESS' */
.process {
    position: relative;
    text-align: center;
}

.process__wrapper {
    width: 90%;
    margin: 0 auto;
}

.process__description {
    font-size: 13px;
}

.process__image-group-wrapper {
    display: flex;
    justify-content: space-around;
}

.process__image-wrapper {
    flex-basis: 30%;
    max-height: 15vh;
    margin: 5vh 0;
    position: relative;
    transform: skewX(-30deg);
    overflow: hidden;
    box-shadow: 0 0 30px 0 rgba(80, 80, 80, .2);
}

.process__image {
    margin-left: -40px;
    display: block;
    transform: skewX(30deg);
    width: 200%;
}

.process__text-wrapper {
    position: absolute;
    top: 60%;
    left: -15%;
    background-color: rgba(0, 0, 0, .5);
}

.process__subheading {
    margin: 0;
    padding-top: .3em;
    transform: skewX(30deg);
    color: #fff;
    font-size: 20px;
    font-family: lato, Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    text-indent: 10px;
}

.process__rhombus-text {
    transform: skewX(30deg);
    color: #fff;
    padding: 0px 0px 0 14px;
    text-indent: 27px;
    font-size: 14px;
    text-shadow: 0 0 5px #000;
}

.process__button {
    margin: 0 auto 5vh;
    color: #fff;
    background-color: #bb2d39;
}

.process__triangle {
    left: 100%;
    top: 0;
    width: 20vw;
    height: 20vw;
    background-color: #bb2d39;
}

@media (orientation:landscape) {
    .process__image-wrapper {
        max-height: 40vh;
    }
}

@media (min-width:375px) {
    .process__text-wrapper {
        top: 70%;
    }

    .process__subheading {
        letter-spacing: 1px;
    }
}

@media (orientation:landscape),
(min-width:630px) {
    .process__description {
        font-size: 16px;
    }

    .process__text-wrapper {
        top: 75%;
        transition: .3s ease-out;
    }

    .process__text-wrapper.active {
        top: 50%;
        transform: translateY(-50%);
    }

    .process__subheading {
        font-size: 24px;
    }
}

/* iPhone X */
@media (max-width:390px) and (min-height:768px) {
    .process__image-wrapper {
        max-height: 13vh;
    }
}

@media (min-width:1024px) {
    .process {
        text-align: left;
    }

    .process__wrapper {
        width: 35vw;
        margin-left: 10vw;
    }

    .process__heading {
        font-size: 2.5em;
    }

    .process__description {
        padding: 3vh 8vw 5vh 0;
    }

    .process__image-group-wrapper {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translateY(-50%);
        width: 65vw;
        max-height: 38vh;
        z-index: 2;
    }

    .process__image {
        background-color: #fff;
        margin-left: -100px;
    }

    .process__text-wrapper {
        top: 82%;
    }

    .process__subheading {
        text-align: center;
        text-indent: 1em;
    }

    .process__rhombus-text {
        text-align: center;
    }

    .process__image-wrapper:last-of-type .process__rhombus-text {
        padding-right: 3vw;
    }

    .process__button {
        margin-left: 0;
    }

    .process__triangle {
        top: 50%;
        width: 50vw;
        height: 50vw;
        z-index: 1;
    }
}

@media (min-width:1280px) {
    .process__image-wrapper {
        cursor: pointer;
    }

    .process__text-wrapper {
        top: 82%;
    }
}

@media (min-width:1366px) {
    .process {
        padding-bottom: 100px;
    }

    .process__heading {
        padding-top: 1.5em;
    }

    .process__rhombus-text {
        text-indent: 45px;
    }

    .process__triangle {
        width: 45vw;
        height: 45vw;
    }
}

@media (min-width:1600px) {
    .process__text-wrapper {
        top: 75%;
    }

    .process__subheading {
        font-size: 32px;
    }

    .process__rhombus-text {
        font-size: 18px;
    }
}

@media (min-width:1920px) {
    .process__rhombus-text {
        padding: 0 50px;
    }
}

/* SECTION 4 'TEAM' */
.team {
    position: relative;
    background-color: #f6f6f6;
    padding-bottom: 10vh;
}

.team__heading {
    padding: 1em 10vw;
    text-align: center;
}

.team__carousel-wrapper {
    --carouselWidth: 200vw;
    position: relative;
    width: var(--carouselWidth);
    min-height: calc(var(--carouselWidth) * 9 / 16);
    margin-left: calc((var(--carouselWidth) - 100vw) / -2);
    text-align: center;
    color: #fff;
}

.team__carousel-item {
    top: 50%;
    border: calc(var(--carouselWidth) / 60) solid #fff;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .5);
    transition: .5s;
}

.team__carousel-item.left,
.team__carousel-item.right {
    width: calc(var(--carouselWidth) / 4.5);
    height: calc(var(--carouselWidth) / 4.5);
    z-index: 2;
    opacity: .7;
    font-size: 8px;
}

.team__carousel-item.left {
    left: 20%;
}

.team__carousel-item.middle {
    left: 50%;
    width: calc(var(--carouselWidth) / 3);
    height: calc(var(--carouselWidth) / 3);
    z-index: 3;
    font-size: 10px;
}

.team__carousel-item.right {
    left: 80%;
}

.team__carousel-item.hidden {
    width: calc(var(--carouselWidth) / 9);
    height: calc(var(--carouselWidth) / 9);
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    z-index: 1;
    font-size: 8px;
}

.team__carousel-image-wrapper {
    overflow: hidden;
    max-height: 100%;
}

.team__carousel-image {
    width: calc(100% * 1.41);
    transform: rotate(-45deg) translateY(-21%);
}

.team__carousel-item-name-wrapper,
.team__carousel-item-description-wrapper {
    position: absolute;
    left: 45%;
    bottom: 0%;
    min-width: 75%;
    transform: rotate(-45deg) skew(45deg) translateY(50%);
    background-color: #171717;
    box-sizing: content-box;
    padding: 0 1em;
}

.team__carousel-item-name,
.team__carousel-item-description {
    margin: 0;
    transform: skew(-45deg);
    line-height: 1.5em;
    font-size: 14px;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.team__carousel-item-description-wrapper {
    background-color: #bb2d39;
    left: 64%;
    padding: 0;
    transition: .3s .2s ease-out;
}

.team__carousel-item-description {
    font-size: 11px;
}

.team__carousel-item:not(.middle) .team__carousel-item-description-wrapper {
    opacity: 0;
}

.team__carousel-arrow-button {
    display: none;
}

.team__triangle {
    left: 0;
    top: 0;
    width: 25vw;
    height: 25vw;
    background-color: #171717;
}

@media (orientation:landscape) {
    .team__carousel-wrapper {
        --carouselWidth: 100vw;
    }

    .team__carousel-item-name {
        font-size: 12px;
    }

    .team__triangle {
        width: 15vw;
        height: 15vw;
    }
}

@media (min-width: 375px) and (orientation:portrait) {
    .team__carousel-wrapper {
        --carouselWidth: 150vw;
    }

    .team__carousel-item-name {
        font-size: 12px;
    }
}

@media (min-width:400px) {
    .team {
        padding-bottom: 5vh;
    }
}

@media (min-width:768px) {
    .team__carousel-wrapper {
        --carouselWidth: 90vw;
    }

    .team__carousel-item-name-wrapper,
    .team__carousel-item-description-wrapper {
        min-width: 80%;
    }

    .team__carousel-item-name {
        font-size: 15px;
    }

    .team__carousel-item-description {
        font-size: 14px;
    }

    .team__carousel-arrow-button {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
    }

    .team__carousel-arrow-button.left {
        left: -3%;
        border-right: 40px solid #494949;
    }

    .team__carousel-arrow-button.right {
        right: -3%;
        border-left: 40px solid #494949;
    }

    .team__triangle {
        width: 20vw;
        height: 20vw;
    }
}

@media (min-width:1024px) {
    .team__carousel-wrapper {
        --carouselWidth: 75vw;
    }

    .team__triangle {
        width: 15vw;
        height: 15vw;
    }
}

@media (min-width:1280px) {

    .team__carousel-item,
    .team__carousel-arrow-button {
        cursor: pointer;
    }

    .team__carousel-item-name,
    .team__carousel-item-description {
        cursor: default;
    }
}

@media (min-width:1440px) {
    .team__carousel-item-name {
        font-size: 17px;
    }

    .team__carousel-item-description-wrapper {
        left: 58%;
    }

    .team__carousel-item-description {
        font-size: 16px;
    }
}

@media (min-width:1600px) {
    .team__carousel-wrapper {
        --carouselWidth: 60vw;
    }

    .team__carousel-item-description-wrapper {
        left: 60%;
    }
}

/* SECTION 5 'TESTIMONIALS' (CLIENTS) */
.testimonials {
    position: relative;
}

.testimonials__heading {
    text-align: center;
}

.testimonials__wrapper {
    display: flex;
    flex-direction: column;
}

.testimonials__image-wrapper {
    transform: rotate(45deg);
    overflow: hidden;
    border: 10px solid #fff;
}

.testimonials__image-wrapper--big {
    width: 50vw;
    height: 50vw;
    margin: 3em auto;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .5);
    background-color: #f5f5f5;
}

.testimonials__image--big.active {
    animation: switchImage .4s;
}

@keyframes switchImage {
    50% {
        opacity: 0;
    }
}

.testimonials__text-wrapper {
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    padding: 0 5vw 0 10vw;
}

.testimonials__text-wrapper.active {
    animation: switchQuote .4s;
}

@keyframes switchQuote {
    50% {
        opacity: 0;
        transform: translateX(-5px);
    }
}

.testimonials__quote {
    position: relative;
    padding-bottom: 1em;
    font-size: .9em;
    font-style: italic;
}

.testimonials__quote::before {
    content: '';
    position: absolute;
    top: -2.3em;
    left: -1.5em;
    width: 3em;
    height: 2em;
    background: url('../img/ico/mark.png') 50% 50% / contain no-repeat;
}

.testimonials__author {
    min-height: 2.3em;
    font-weight: 800;
    color: #6a6a6a;
}

.testimonials__small-images-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 1vh 10vw 3vh;
}

.testimonials__image-wrapper--small {
    width: 15vw;
    height: 15vw;
    border-color: transparent;
    border-width: 4px;
}

.testimonials__image-wrapper--small.active {
    border-color: #bb2d39;
}

.testimonials__image {
    width: 160%;
    transform: rotate(-45deg) translateY(-21%)
}

.testimonials__triangle {
    display: none;
}

@media (min-width:768px),
(orientation:landscape) {
    .testimonials::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        border-left: 10vw solid transparent;
        border-right: 10vw solid #171717;
        border-top: 10vw solid #171717;
        border-bottom: 10vw solid transparent;
    }

    .testimonials__wrapper {
        padding-left: 42vw;
    }

    .testimonials__image-wrapper--big {
        position: absolute;
        left: 15%;
        top: 50%;
        transform: rotate(45deg) translate(-50%, -50%);
        width: 20vw;
        height: 20vw;
        z-index: 1;
    }

    .testimonials__text-wrapper {
        padding: 5vw 10vw 0 0;
    }

    .testimonials__quote {
        font-size: 1em;
    }

    .testimonials__quote::before {
        top: -1em;
        left: -3.5em;
    }

    .testimonials__small-images-wrapper {
        padding: 5vh 0;
        justify-content: flex-start;
    }

    .testimonials__image-wrapper--small {
        width: 8vw;
        height: 8vw;
        margin-right: 3vw;
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }

    .testimonials__triangle {
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 42vw;
        height: 42vw;
        background-color: #bb2d39;
    }
}

@media (min-width:1024px) {
    .testimonials__image-wrapper--small {
        width: 6vw;
        height: 6vw;
    }
}

@media (min-width:1280px) {
    .testimonials__image-wrapper--small {
        cursor: pointer;
    }
}

@media (min-width:1440px) {
    .testimonials__heading {
        padding-top: 1.5em;
    }

    .testimonials__image-wrapper--big {
        border-width: 20px
    }

    .testimonials__small-images-wrapper {
        padding-bottom: 10vh;
    }

    .testimonials__image-wrapper--small {
        border-width: 6px;
    }
}

@media (min-width:1600px) {
    .testimonials__wrapper {
        padding: 0 5vw 0 44vw;
    }

    .testimonials__text-wrapper {
        padding-right: 20vw;
    }
}

/* FOOTER (CONTACT) */
.contact {
    background: 50% 50% / cover;
    color: #fff;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    padding: 0 5vw;
}

.contact__heading {
    text-align: center;
    color: #9f9f9f;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
}

.contact-item {
    position: relative;
    margin-left: 30%;
}

.contact-item-icon {
    position: absolute;
    left: -4em;
    top: 3em;
}

.contact__type {
    font-weight: 800;
}

/* Safari fix */
.contact__content1,
.contact__content2 {
    color: #fff;
    text-decoration: none;
}

.contact__icon-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    padding: 1em 0;
}

.contact__description {
    max-width: 1024px;
    border-top: 1px solid #fff;
    margin: 0 auto;
    padding: 1em;
    color: #fff;
    text-align: center;
}

@media (min-width:750px) {
    .contact__wrapper {
        flex-direction: row;
        justify-content: center;
        padding: 1em 0;
    }

    .contact-item {
        margin-left: 4em;
    }

    .contact-item-icon {
        left: -2.3em;
        top: 2em;
        transform: translate(-50%, -50%);
    }
}

@media (max-width:1023px) {
    .contact {
        background-image: url('../img/sitting-people-mobile.jpg');
    }
}

@media (min-width:1024px) {
    .contact {
        background-image: url('../img/sitting-people.jpg');
    }
}

@media (min-width:1600px) {
    .contact__wrapper {
        padding-left: 7em;
    }

    .contact-item {
        margin: 0;
        padding-right: 7em;
    }

    .contact-item-icon {
        left: -3.3em;
        top: 4.5em;
    }
}

/* GLOBAL MQ */
@media (min-width:1280px) {
    .button {
        cursor: pointer;
    }

    .heading {
        font-size: 3em;
    }
}